.title-divider {
    position: relative;
    overflow: hidden;
}

.title-divider .circle {
    position: absolute;
    animation: titleAnimate 3s ease-in-out infinite;
}

@keyframes titleAnimate {
    0% {
        transform: translateX(-6px);
    }

    100% {
        transform: translateX(128px);
    }
}

.resume-btn {
    width: auto;
    color: black;
    font-size: 14px;
    line-height: 1.8;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(#72e2ae, #72e2ae 50%, white 50%, white);
    background-size: 100% 200%;
    transition: .2s;
}

.resume-btn:hover {
    background-position: 100% 100%;
}

.list-circle {
    background: #72e2ae;
    height: 8px;
    width: 8px;
    left: 0;
    border-radius: 50%;
}

.bottom-anime {
    animation-name: RightToLeftAnimate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes RightToLeftAnimate {
    0% {
        right: -40px;
    }

    100% {
        right: 100%;

    }
}

.left-anime {
    animation: BottomToTopAnimate 3s ease-in-out infinite;
}

@keyframes BottomToTopAnimate {
    0% {
        bottom: -40px;
    }

    100% {
        bottom: 100%;
    }
}

.top-anime {
    animation: LeftToRightAnimate 3s ease-in-out infinite;
}

@keyframes LeftToRightAnimate {
    0% {
        left: -40px;
    }

    100% {
        left: 100%;
    }
}

.right-anime {
    animation: TopToBottomAnimate 3s ease-in-out infinite;
}

@keyframes TopToBottomAnimate {
    0% {
        top: -40px;
    }

    100% {
        top: 100%;
    }
}